@model SurveySystem.Models.Survey
@{
    ViewData["Title"] = "AnsweringSurvey";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
@section Styles{
    <style>     
        h4 {
            text-align: center;
        }     
    </style>
}
@section Scripts{
    <script type="text/javascript">
        var currentQuestionIndex = 0;

        $(document).ready(function () {
            // Sayfa yüklendiğinde ilk soruyu göster
            showQuestion(currentQuestionIndex);

            // İleri gitmek için bir düğmeye tıklandığında navigate işlevini çağır.
            $("#btnok").click(function () {
                navigate(1);
            });

        });

        function showQuestion(index) {
            $(".question").hide();
            $(".question:eq(" + index + ")").show();
        }

        function navigate(direction) {
            currentQuestionIndex += direction;
            if (currentQuestionIndex < 0) {
                currentQuestionIndex = 0;
            } else if (currentQuestionIndex >= @Model.Questions.Count) {
                // Sadece ileri gidilebilsin
                currentQuestionIndex = @Model.Questions.Count - 1;
            }
            showQuestion(currentQuestionIndex);
        }
       
    </script>
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Anket Cevaplama Sayfası</h4>

            <!-- Sorular burada görüntülenir -->
            @for (var i = 0; i < Model.Questions.Count; i++)
            {
                <div class="card mt-3 question">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="question_@(i + 1)">Soru @(i + 1)</label>
                            <p>@Model.Questions[i].QuestionText</p>
                        </div>
                        <div class="form-group">                           
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="option1_@(i + 1)" name="Questions[@i].SelectedOption" value="1">
                                <label class="form-check-label" for="option1_@(i + 1)">@(Model.Questions[i].Option1)</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="option2_@(i + 1)" name="Questions[@i].SelectedOption" value="2">
                                <label class="form-check-label" for="option2_@(i + 1)">@(Model.Questions[i].Option2)</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="option3_@(i + 1)" name="Questions[@i].SelectedOption" value="3">
                                <label class="form-check-label" for="option3_@(i + 1)">@(Model.Questions[i].Option3)</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="option4_@(i + 1)" name="Questions[@i].SelectedOption" value="4">
                                <label class="form-check-label" for="option4_@(i + 1)">@(Model.Questions[i].Option4)</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="option5_@(i + 1)" name="Questions[@i].SelectedOption" value="5">
                                <label class="form-check-label" for="option5_@(i + 1)">@(Model.Questions[i].Option5)</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <button type="button" class="btn btn-success btn-icon-text mt-3 btnok" onclick="navigate(1)"><i class="mdi mdi-book-plus btn-icon-prepend"></i>Anketi Tamamla</button>

        </div>
    </div>
</div>
