@model SurveySystem.Models.Survey
@{
    ViewData["Title"] = "AnsweringSurvey";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
@section Styles{
    <style>
        h4 {
            text-align: center;
        }

        .toast-error {
            background-color: brown;
            color: white;
        }

        .toast-warning {
            background-color: darkorange;
            color: white;
        }

        .toast-success {
            background-color: darkgreen;
            color: white;
        }
    </style>
}
@section Scripts{
    <script type="text/javascript">
        var currentQuestionIndex = 0;
        var totalCorrectAnswers = 0;
        var totalWrongAnswers = 0;

        var SurveyResponses = []; // Soru ve cevapları saklamak için bir dizi oluşturun
        var delayInSeconds = 3; // Soru değişiminde beklemek istediğiniz süre (örneğin, 2 saniye)
        var questionIndex;

        $(document).ready(function () {
            // Sayfa yüklendiğinde ilk soruyu göster
            showQuestion(currentQuestionIndex);

            $("input[type='radio']").change(function () {
                //Hangi soruya yanıt verdiğini belirlemek için this, olayı tetikleyen radyo butonunu temsil eder
                questionIndex = $(this).data("option");

                // Tüm cevapların çerçevesini temizle
                $(".answer-container input[name='Questions[" + questionIndex + "].SelectedOption']").parent().css("border", "none");

                // Kullanıcının seçtiği cevap
                var selectedOption = parseInt($("input[name='Questions[" + questionIndex + "].SelectedOption']:checked").val());
                // Doğru cevap
                var correctAnswer = parseInt($(".correct-answer[data-question-index='" + questionIndex + "']").val());
                var questionId = parseInt($(".question-Id[data-questionId='" + questionIndex + "']").val());

                if (selectedOption === correctAnswer) {
                    // Kullanıcının seçtiği cevap doğru ise yeşil çerçeve ile işaretler
                    $(".answer-container input[name='Questions[" + questionIndex + "].SelectedOption'][value='" + selectedOption + "']").parent().css("border", "2px solid green");
                    totalCorrectAnswers++;
                } else {
                    // Yanlış ise kırmızı çerçeve ile işaretler
                    $(".answer-container input[name='Questions[" + questionIndex + "].SelectedOption'][value='" + selectedOption + "']").parent().css("border", "2px solid red");

                    // Doğru cevapı yeşil çerçeve ile işaretler
                    $(".answer-container input[name='Questions[" + questionIndex + "].SelectedOption'][value='" + correctAnswer + "']").parent().css("border", "2px solid green");
                    totalWrongAnswers++;
                }

                // Soru ve cevabı diziye ekleyin
                var questionResponse = {
                    QuestionId: questionId,
                    SelectedOption: selectedOption,
                    SurveyId: parseInt($(".survey-Id[data-surveyId='" + questionIndex + "']").val()),
                };
                SurveyResponses.push(questionResponse);


                // Belirtilen süre sonunda sıradaki soruyu göster
                setTimeout(function () {
                    currentQuestionIndex++;
                    if (currentQuestionIndex < @Model.Questions.Count) {
                        showQuestion(currentQuestionIndex);
                    } else {
                        // Tüm soruları yanıtladıysanız, formu gönderme veya başka bir işlem yapma kodunu buraya ekleyebilirsiniz.
                    }
                }, delayInSeconds * 1000);
            });


            // Anketi tamamla butonuna tıklanma olayını dinle
            $("#btnCompleteSurvey").click(function () {
                // // Form verilerini al
                // var formData = $("#surveyForm").serialize();

                // JSON nesnesi oluşturun
                var surveyScoreData = {
                    FirstName: $("#FirstName").val(),
                    LastName: $("#LastName").val(),

                    Score: (totalCorrectAnswers * 10),
                    SurveyResponses: SurveyResponses
                };

                $.ajax({
                    url: "/Survey/CompleteSurveyAnswer",
                    type: "POST",
                    // contentType: "application/json; charset=utf-8",
                    data: (surveyScoreData),
                    success: function (response) {
                        if (response.success) {
                            toastr.success("Anket başarıyla tamamlandı.");
                            window.location.reload();
                        } else {
                            // Hata oluştuysa hata mesajını işle.
                            toastr.error("Onaylama işlemi başarısız oldu. Hata: " + response.message);
                        }
                    },
                    error: function () {
                        // Hata oluştuysa hata mesajını işle.
                        toastr.error('İstek başarısız.');
                    }
                });
            });
        });


        function showQuestionWithDelay(index, delayInSeconds) {
            // Tüm soruları gizle
            $(".question").hide();

            // Belirtilen süre sonunda sıradaki soruyu göster
            setTimeout(function () {
                showQuestion(index);
            }, delayInSeconds * 1000);
        }

        function showQuestion(index) {
            $(".question").hide();
            $(".question:eq(" + index + ")").show();
        }
    </script>
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Anket Cevaplama Sayfası</h4>
            @* <form id="surveyForm" asp-action="SubmitSurveyAnswer" method="post"> *@
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName">Ad</label>
                        <input type="text" class="form-control" id="FirstName" name="FirstName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastName">Soyad</label>
                        <input type="text" class="form-control" id="LastName" name="LastName">
                    </div>
                </div>
            </div>
            <!-- Sorular burada görüntülenir -->
            @for (var i = 0; i < Model.Questions.Count; i++)
            {
                <div class="card mt-3 question">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="question_@(i + 1)">Soru @(i + 1)</label>
                            <p>@Model.Questions[i].QuestionText</p>
                            <input type="text" id="questionId_@(i + 1)" class="question-Id" data-questionId="@i" name="Questions[@i].QuestionId" value="@Model.QuestionResponses[i].QuestionId" />
                            <!-- Doğru Cevabı ve Anket Id buraya ekledim -->
                            <input type="text" id="correctAnswer_@(i + 1)" class="correct-answer" data-question-index="@i" value="@Model.QuestionResponses[i].SelectedOption" />
                            <input type="text" id="surveyId_@(i + 1)" class="survey-Id" data-surveyId="@i" value="@Model.QuestionResponses[i].SurveyId" />
                        </div>
                        <div class="form-group">
                            <div class="form-check answer-container">
                                <input type="radio" class="form-check-input" id="option1_@(i + 1)" name="Questions[@i].SelectedOption" value="1" data-option="@i">
                                <label class="form-check-label" for="option1_@(i + 1)">@(Model.Questions[i].Option1)</label>
                            </div>
                            <div class="form-check answer-container">
                                <input type="radio" class="form-check-input" id="option2_@(i + 1)" name="Questions[@i].SelectedOption" value="2" data-option="@i">
                                <label class="form-check-label" for="option2_@(i + 1)">@(Model.Questions[i].Option2)</label>
                            </div>
                            <div class="form-check answer-container">
                                <input type="radio" class="form-check-input" id="option3_@(i + 1)" name="Questions[@i].SelectedOption" value="3" data-option="@i">
                                <label class="form-check-label" for="option3_@(i + 1)">@(Model.Questions[i].Option3)</label>
                            </div>
                            <div class="form-check answer-container">
                                <input type="radio" class="form-check-input" id="option4_@(i + 1)" name="Questions[@i].SelectedOption" value="4" data-option="@i">
                                <label class="form-check-label" for="option4_@(i + 1)">@(Model.Questions[i].Option4)</label>
                            </div>
                            <div class="form-check answer-container">
                                <input type="radio" class="form-check-input" id="option5_@(i + 1)" name="Questions[@i].SelectedOption" value="5" data-option="@i">
                                <label class="form-check-label" for="option5_@(i + 1)">@(Model.Questions[i].Option5)</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-success btn-icon-text mt-3" id="btnCompleteSurvey"><i class="mdi mdi-book-plus btn-icon-prepend"></i>Anketi Tamamla</button>
            @* </form> *@
        </div>
    </div>
</div>
